@model MyClass.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content my-2">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-danger text-uppercase">CHI TIẾT ĐƠN HÀNG</strong>
                </div>
                <div class="col-md-6 text-right">
                    <a href="@Url.Action("Index", "Order")" class="btn btn-sm btn-info"><i class="fas fa-long-arrow-alt-left"></i>Về danh sách</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h2>THÔNG TIN KHÁCH HÀNG</h2>
            <table class="table table-bordered">
                <tr>
                    <td>Mã khách hàng</td>
                    <td>@Model.UserId</td>
                </tr>
                <tr>
                    <td>Tên khách hàng</td>
                    <td>@Html.Action("NameCustomer", "User", new { userid = Model.UserId })</td>
                </tr>
                <tr>
                    <td>Ghi chú</td>
                    <td>@Model.Note</td>
                </tr>
            </table>
            <h2>CHI TIẾT ĐƠN HÀNG</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th style="width:150px;">Hình sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @{ decimal tongtien = 0; }
                    @foreach (var ct in ViewBag.ListChiTiet)
                    {
                        <tr>
                            <td>@ct.ProductId</td>
                            <td><img src="~/Public/images/Products/@Html.Action("ProductImg", "Product",new { productid = ct.ProductId }) " class="img-fluid" /></td>
                            <td>@Html.Action("ProductName", "Product", new { productid = ct.ProductId })</td>
                            <td>@ct.Price</td>
                            <td>@ct.Qty</td>
                            <td>@ct.Amount</td>
                        </tr>
                        tongtien += ct.Amount;
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="4">
                            <a href="@Url.Action("Destroy","Order", new { id = Model.Id })" class="btn btn-sm btn-info">
                                Hủy
                            </a>
                            <a href="@Url.Action("DaXacMinh","Order", new { id = Model.Id })" class="btn btn-sm btn-info">
                                Đã xác minh
                                </a>
                            <a href="@Url.Action("DangVanChuyen","Order", new { id = Model.Id })" class="btn btn-sm btn-info">
                                Đang vận chuyển
                            </a>
                            <a href="@Url.Action("ThanhCong","Order", new { id = Model.Id })" class="btn btn-sm btn-info">
                                Thành công
                            </a>

                        </th>
                        
                        <th>Tổng tiền</th>
                        <th>@tongtien</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
