@model MyClass.Models.Post
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<section class="maincontent clearfix">
    <div class="container my-3">
        <div class="row mb-5">
            <div class="col-md-12 col-lg-12">
                <h1 class="title-post text-warning">@Model.Title</h1>
                <p>@Html.Raw(HttpUtility.HtmlDecode(Model.Detail))</p>
                @foreach (var post in ViewBag.ListOther)
                {
                    <a href="@post.Slug"> <img src="~/Public/images/Posts/@post.Img" class="img-fluid" /> </a>
                }

            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <h3>BÀI VIẾT KHÁC</h3>
                <ul>
                    @foreach (var post in ViewBag.ListOther)
                    {
                        <li><a href="@post.Slug">@post.Title</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>

